{% extends "index.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'style.css' %}" />
{% endblock %}


<!--NAVBAR-->
{% block navbar %}
<a class="navbar-brand" href="#">Личный кабинет преподавателя</a>
<a class="navbar-brand" href="{% url 'create_course_page' %}">Создать курс</a>
<a class="navbar-brand" href="{% url 'create_teacher_page' %}">Создать учителя</a>
<a class="navbar-brand" href="{% url 'create_lesson_page' %}">Создать урок</a>
<!-- <a class="navbar-brand" href="#">{{ request.user.first_name }}</a> -->
<a class="navbar-brand" href="{% url 'logout_page' %}">Выход</a>
{% endblock %}

{% block content %}

<!--JUMBOTRON-->
<div class="jumbotron jumbotron-fluid pt-4 pb-4">
  <div class="container">
    <h1 class="display-5">Добро пожаловать, {{ request.user.first_name }}</h1>
  </div>
</div>

<!--INFO-->
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-7 col-lg-7 col-xl-5">
      <div class="card mb-4 shadow">
        <h5 class="card-header">Информация</h5>
        <div class="card-body">
          <h5 class="card-title">ФИО</h5>
          <p class="card-text">
            {{request.user.first_name}}
            {{request.user.last_name}}
          </p>
          <h5 class="card-title">Телефон</h5>
          <p class="card-text">
            %Телефон% А зачем здесь телефон?
          </p>
          <h5 class="card-title">О себе</h5>
          <p class="card-text">
            %О себе% А зачем здесь о себе?
          </p>
          <a href="#" class="btn btn-primary text-right">Редактировать</a>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-5 col-lg-5 col-xl-7" style="max-height: 460px;">
      <!-- Вариант поместить информацию о курсах
               в INFO, а на их место разместить кнопки
               из MAKE GROUP AND CHAT BUTTONS
          -->
      <!--COURSES-->
      <div class="d-flex flex-wrap justify-content-lg-between justify-content-center align-items-md-start">
        <div class="card mb-4 shadow width-for-course-card">
          <div class="card-header">Курсы</div>
          <div class="card-body">
            {% for course in courses %}
            <h5 class="card-title">Курсы</h5>
            <p class="card-text d-flex ">{{course.name}}</p>
            <h5 class="card-title">Группы</h5>
            <p class="card-text d-flex ">
              {% for group in groups %}
              {{group}}
              {% endfor %}
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- MAKE GROUP -->
<div class="container">
  <div class="row">
    <!-- ДОБАВЛЕНИЕ КНОПКИ ГРУППЫ ПРИ ПРОФИЛЕ УЧИТЕЛЯ -->
    {% if user_type == 'teacher' %}
    <div class="col-xs-6 col-md-5 col-lg-5 col-xl-5">
      <div class="card mb-4 shadow w-100">
        <h5 class="card-header">Создание группы</h5>
        <div class="card-body">
          <!-- Выбор будет здесь или на странице курса? -->
          <!-- Где вообще будем брать курсы? -->
          <p class="card-text">Создать новую учебную группу для курса</p>
          <div class="d-flex">
            <a href="{% url 'create_group_page' %}" class="btn btn-primary">Создать группу</a>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <div class="col-xs-6 col-md-7 col-lg-7 col-xl-7">
      <div class="card mb-4 shadow w-100">
        <h5 class="card-header">Чат</h5>
        <div class="card-body">
          <p class="card-text ">Фукнкциональные кнопки</p>
          <div class="d-flex">
            <a href="#" class="btn btn-primary mr-3">Общий чат</a>
            <a href="#" class="btn btn-primary mr-3">Чат с преподавателем</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- DETAILED COURSES -->
<div class="container">
  <div class="accordion shadow" id="accordionLessons">
    <!-- КУРС 1 -->
    {% for course in courses %}
    <div class="card mb-3 shadow">
      <div class="card-header" id="{{course.id}}">
        <h2 class="mb-0">
          <button class="btn btn-link accordion-btn" type="button" data-toggle="collapse" data-target="#{{course.name}}"
            aria-expanded="true" aria-controls="{{course.name}}">
            {{course.name}}
          </button>
        </h2>
      </div>
      <div id="{{course.name}}" class="collapse show" aria-labelledby="{{course.id}}" data-parent="#accordionLessons">
        <div class="card-body lesson-search border">
          <h5>
            Поиск по урокам
          </h5>
          <form class="form-inline lesson-search-form">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
            <button class="btn btn-primary my-2 my-sm-0" type="submit">
              Поиск
            </button>
          </form>
        </div>
        <!-- Успех или неудачу отмечать css классами bg-success, bg-danger, bg-warning, bg-light -->
        <!-- LESSONS -->
        {% for lesson in lessons %}
        <div class="card-body border  d-flex flex-wrap flex-row justify-content-between {% if user_type == 'pupil' %} text-white
            {% if lesson.homework_solution == None %} bg-danger {% endif %}
            {% if lesson.homework_solution != None %} bg-success {% endif %}
          {% endif %}">
          <div class="lesson-number font-weight-bold">
            № {{lesson.number}}
          </div>
          <div class="text-center overflow-auto">
            {{lesson.name}}
          </div>
          <div class="btn {% if user_type == 'pupil' %} text-white {% endif %}" href="">
            <!-- ajax? -->
            Перейти к занятию
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}