{% extends "index.html" %}
{% load static %}

{% block title %} Создать урок {% endblock %}

<!--NAVBAR-->
{% block navbar %}
<link rel="stylesheet" href="{% static 'FormStyle.css' %}" />
<a class="navbar-brand navbar-a" href="{% url 'cabinet_page' %}">Личный кабинет</a>
<a class="navbar-brand quit navbar-a" href="{% url 'logout_page' %}">Выход</a>
{% endblock %}

{% block content %}
<div class="container form-holder">
    <form id="create_course" method="post">
        {%  csrf_token %}
        {{ form }}
        <button form="create_course" type="submit" class="a-reverse-button">Создать</button>
    </form>
</div>

{% endblock %}

