{% extends "index.html" %}
{% load static %}

{% block title %} {{group.name}} {% endblock %}

<!--NAVBAR-->
{% block navbar %}
<!-- <link rel="stylesheet" href="{% static 'FormStyle.css' %}" /> -->
<a class="navbar-brand navbar-a" href="{% url 'cabinet_page' %}">Личный кабинет</a>
<a class="navbar-brand quit navbar-a" href="{% url 'logout_page' %}">Выход</a>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-7 col-lg-7 col-xl-7 pupil-table-col">
            <h2>Ученики в группе</h2>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Имя</th>
                        <th scope="col">Фамилия</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pupil in object.pupils.all %}
                    <tr>
                        <td>{{pupil.user.first_name}}</td>
                        <td>{{pupil.user.last_name}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if request.user.first_name == object.teacher.user.first_name %}
            <a class="a-button" href="{% url 'update_group_page' object.id %}">Редактировать</a>
            {% endif %}
        </div>
        <div class="col-xs-6 col-md-5 col-lg-5 col-xl-5">
            <h2 class="mt-4">Учитель</h2>
            <p>{{group_teacher.user.first_name}} {{group_teacher.user.last_name}}</p>
        </div>
    </div>
</div>

{% endblock %}