{% extends "index.html" %}
{% load static %}

{% block title %} Урок {{ lesson.number }} {% endblock %}

<!--NAVBAR-->
{% block navbar %}
<link rel="stylesheet" href="{% static 'FormStyle.css' %}" />
<a class="navbar-brand" href="{% url 'cabinet_page' %}">Личный кабинет</a>
<a class="navbar-brand quit" href="{% url 'logout_page' %}">Выход</a>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-7 col-lg-6 col-xl-6">
            <div class="card mb-4 shadow detail-lesson-card">
                <h5 class="card-header">Информация об уроке</h5>
                <div class="card-body">
                    <h5 class="card-title">Номер</h5>
                    <p class="card-text">
                        {{lesson.number}}
                    </p>
                    <h5 class="card-title">Название</h5>
                    <p class="card-text">
                        {{lesson.name}}
                    </p>
                    <h5 class="card-title">Материалы</h5>
                    <p class="card-text">
                        {{lesson.materials}}
                    </p>
                    <h5 class="card-title">Домашнее задание</h5>
                    <p class="card-text">
                        {{lesson.homework_task}}
                    </p>
                    <!-- <a class="a-button" href="#">Редактировать</a> -->
                </div>
            </div>
        </div>
        {% if user_type == 'teacher' %}
        <div class="col-xs-6 col-md-5 col-lg-5 col-xl-6">
            <h2>Домашние работы</h2>
            <div class="list-group">
                {% for solution in homework %}
                <li class="list-group-item">
                    <p> <strong>Ученик: </strong>{{solution.pupil.user.last_name}} {{solution.pupil.user.first_name}}</p> 
                    <p><strong>Статус: </strong> {% if solution.done == True %} Готово {%else%} Не готово {% endif %}</p>
                    {% if solution.done == True %}
                    <a href="{% url 'download_solution_url' solution.id %}" class="a-button">Скачать</a>
                    {% endif %}
                </li>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if user_type == 'pupil' %}
        <div class="col-xs-6 col-md-5 col-lg-5 col-xl-6">
            <form id="lesson_form" method="POST" enctype="multipart/form-data">
                {%  csrf_token %}
                {{ form }}
                <button form="lesson_form" type="submit" class="a-reverse-button">Add</button>
            </form>
        </div>
        {% endif %}
    </div>

</div>

{% endblock %}