{% extends "index.html" %}
{% load static %}

{% block title %} Курсы {% endblock %}

<!--NAVBAR-->
{% block navbar %}
<a class="navbar-brand navbar-a" href="{% url 'cabinet_page' %}">Личный кабинет</a>
<a class="navbar-brand quit navbar-a" href="{% url 'logout_page' %}">Выход</a>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 mt-5">
            <h2>Курсы</h2>
            <div class="list-group">
                {% for course in courses %}
                <li class="list-group-item">
                    <p> <strong>Курс: </strong>{{course.name}}</p>
                    {% if user_ctx.user_type == 'admin' %}
                    <p>
                        <a class="a-button" href="{% url 'update_course_page' course.id %}">Редактировать</a>
                    </p>
                    {% endif %}
                    {% if user_ctx.user_type != 'admin' %}
                    <strong>Группы: </strong>
                    {% for group in user_ctx.groups %}
                    {% if group.course == course %}
                    {{group.name}}
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </li>
            {% endfor %}
        </div>
        </div>
    </div>

</div>

{% endblock %}