body {
    color: #000000;
    background: #f8f9fa;
}


a {
    color: #ffffff;
}


.card-body {
    background: #ffffff;
}

.card-header {
    background: #343a40 !important;
    color: white;
}

.btn {
    background: #0f45c7;
    color: #ffffff;
}

a:hover {
    text-decoration: none;
}

.logo-pic {
    width: 20%;
    height: 5%;
    justify-self: flex-start;
}


@media (min-width: 576px) {
    .logo-pic {
        width: 30%;
        height: 30%;
    
    }

    .quit-button {
        background: #f8f9fa;
        color: #0f45c7;
        font-size: 13px;
    }

}

@media (min-width: 768px) {
    .logo-pic {
        width: 30%;
        height: 30%;
    
    }

    .quit-button {
        background: #f8f9fa;
        color: #0f45c7;
        font-size: 15px;
    }
    
}

@media (min-width: 992px) {
    .width-for-course-card {
        max-width: 300px;
    }
    
    .logo-pic {
        width: 25%;
        height: 25%;
    }

    .quit-button {
        background: #f8f9fa;
        color: #0f45c7;
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
    .width-for-course-card {
        max-width: 300px;
    }

    .logo-pic {
        width: 20%;
        height: 20%;
    
    }

    .quit-button {
        background: #f8f9fa;
        color: #0f45c7;
        font-size: 23px;
    }
    
}

/* form {
    padding-left: 40%;
    padding-right: 40%;
} */

.accordion-btn {
    font-size: 100% !important;
}

.lesson-search-form {
    padding: 0%;
}

.quit {
    margin-left: auto;
    transition: 0.15s ease;
}

.quit:hover {
    color: red !important;
}

.a-button {
    padding: 7px 15px;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #343a40;
    background-color: #343a40;
    cursor: pointer;
    width: max-content;
    transition: 0.15s ease;
}

.a-button:hover {
    color: #343a40;
    background-color: transparent;
    text-decoration: none;
}