body {
    color: #000000;
    background: #f8f9fa;
}


a {
    color: #ffffff;
}


.card-body {
    background: #ffffff;
}

.card-header {
    background: #343a40 !important;
    color: white;
}

.btn {
    background: #0f45c7;
    color: #ffffff;
}

a:hover {
    text-decoration: none;
}

/* .logo-pic {
    width: 20%;
    height: 5%;
    justify-self: flex-start;
}
 */

@media (min-width: 576px) {
    .logo-pic {
        width: 25%;
        height: 25%;
    
    }
}

@media (min-width: 768px) {
    .logo-pic {
        width: 25%;
        height: 25%;
    
    }
}

@media (min-width: 992px) {
    .width-for-course-card {
        max-width: 400px;
    }
    
    .logo-pic {
        width: 20%;
        height: 20%;
    }
}

@media (min-width: 1200px) {
    .width-for-course-card {
        max-width: 400px;
    }

    .logo-pic {
        width: 18%;
        height: 15%;
    
    }
}

/* form {
    padding-left: 40%;
    padding-right: 40%;
} */

.accordion-btn {
    font-size: 100% !important;
}

.lesson-search-form {
    padding: 0%;
}

.quit {
    margin-left: auto;
    transition: 0.15s ease;
}

.quit:hover {
    color: red !important;
}

.a-button {
    padding: 7px 15px;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #343a40;
    background-color: #343a40;
    cursor: pointer;
    width: max-content;
    transition: 0.15s ease;
}

.a-button:hover {
    color: #343a40;
    background-color: transparent;
    text-decoration: none;
}

.card-title {
    font-weight: 600;
}

.detail-lesson-card {
    margin-top: 24px;
}

.search-input-class {
    margin-bottom: 10px;
    margin-top: 10px;
}

.pupil-table-col {
    margin-top: 24px;
}

.navbar-a {
    font-weight: 700;
    font-size: large;
}

.photo-img {
    border-radius: 50%;
}

.image-holder {
    display: flex;
    justify-content: center;
    /* align-items: flex-start; */
    /* min-height: 100vh; */
  } 